YT PlayList Automator (1).json
{
  "name": "YT PlayList Automator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -864,
        -384
      ],
      "id": "74c34ebc-d430-4247-8c02-e4315135659b",
      "name": "When chat message received",
      "webhookId": "b95c788d-6410-4789-b954-ac98a2074a49"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "part",
              "value": "snippet"
            },
            {
              "name": "q",
              "value": "={{ $json.searchQuery }}"
            },
            {
              "name": "type",
              "value": "video"
            },
            {
              "name": "maxResults",
              "value": "5"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        160
      ],
      "id": "732ebcb3-0e4d-4164-bd0d-38c2f42a0acb",
      "name": "Search Youtube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "WH4LB9rf4txj7sks",
          "name": "YouTube OAuth Cred"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the search results from YouTube\nconst searchResults = $input.first().json;\n\n// Get the original song data from Loop Over Items\nconst songData = $('Loop Over Songs').item.json;\n\n// Check if we have valid results\nif (searchResults.items && searchResults.items.length > 0) {\n  // Extract video information from first result\n  const firstResult = searchResults.items[0];\n  const videoId = firstResult.id.videoId;\n  const videoTitle = firstResult.snippet.title;\n  const channelTitle = firstResult.snippet.channelTitle;\n  \n  // Return the data needed for adding to playlist\n  return [{\n    json: {\n      videoId: videoId,\n      videoTitle: videoTitle,\n      channelTitle: channelTitle,\n      songTitle: songData.songTitle,\n      artist: songData.artist,\n      playlistId: songData.playlistId,\n      found: true\n    }\n  }];\n  \n} else {\n  // No results found for this song\n  return [{\n    json: {\n      songTitle: songData.songTitle,\n      artist: songData.artist,\n      searchQuery: songData.searchQuery,\n      found: false,\n      error: 'No video found on YouTube'\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        144
      ],
      "id": "fcfe14b4-285f-4841-a15c-79be9ef3fde1",
      "name": "Extract Video ID",
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.googleapis.com/youtube/v3/playlistItems?part=snippet",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "youTubeOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"snippet\": {\n    \"playlistId\": \"{{ $json.playlistId }}\",\n    \"resourceId\": {\n      \"kind\": \"youtube#video\",\n      \"videoId\": \"{{ $json.videoId }}\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1408,
        -448
      ],
      "id": "7ca5977e-7759-4871-9d09-fb9a539aa456",
      "name": "Add to Playlist",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "WH4LB9rf4txj7sks",
          "name": "YouTube OAuth Cred"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aaa391de-4abe-4451-9781-454ce330161a",
              "leftValue": "={{ $json.pageInfo.totalResults }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        -416
      ],
      "id": "4a9f9f14-4032-46c3-83f8-6c47d5d75960",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be96e8b3-f3c5-47d8-b580-48feff4e151c",
              "name": "songs",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -496,
        96
      ],
      "id": "24e98bba-a942-4d0e-aa94-b995d4fb212e",
      "name": "Retreive Chat Input"
    },
    {
      "parameters": {
        "jsCode": "// Get the chat input\nconst chatInput = $input.first().json.songs\n\n// Check if input exists\nif (!chatInput) {\n  throw new Error('No input received. Please send your song list.');\n}\n\n// Try JSON first, then fall back to text format\nlet songs;\n\ntry {\n  // Try parsing as JSON\n  songs = JSON.parse(chatInput);\n} catch (e) {\n  // If not JSON, treat as text lines\n  const lines = chatInput.trim().split('\\n').filter(line => line.trim() !== '');\n  \n  songs = lines.map(line => {\n    const parts = line.split(' - ');\n    if (parts.length >= 2) {\n      return {\n        title: parts[0].trim(),\n        artist: parts[1].trim()\n      };\n    }\n    return null;\n  }).filter(song => song !== null);\n}\n\n// Validate we have songs\nif (!songs || songs.length === 0) {\n  throw new Error('No valid songs found. Use format:\\nSong Title - Artist Name\\nor JSON format');\n}\n\n// Map to our format\nreturn songs.map(song => ({\n  json: {\n    songTitle: song.title,\n    artist: song.artist,\n    searchQuery: `${song.title} ${song.artist}`\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        -400
      ],
      "id": "f5c7ec7b-bccf-4340-a313-6d25dc43deaa",
      "name": "Extract Song Details"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e89fc475-f969-4579-95b0-89d29d707e6d",
              "name": "playlistId",
              "value": "PLybYMTXUrpAk8-_AGMOpju3IXLzQK-G2-",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        144
      ],
      "id": "e22a7ba9-9ab0-4f8b-b9cd-7086a839f4fb",
      "name": "Add PlayList ID"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        272,
        -400
      ],
      "id": "edb136e0-c6ae-4366-81f9-47646e08a14e",
      "name": "Loop Over Songs"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Retreive Chat Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Youtube": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Video ID": {
      "main": [
        [
          {
            "node": "Add to Playlist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract Video ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retreive Chat Input": {
      "main": [
        [
          {
            "node": "Extract Song Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Song Details": {
      "main": [
        [
          {
            "node": "Add PlayList ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add PlayList ID": {
      "main": [
        [
          {
            "node": "Loop Over Songs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Songs": {
      "main": [
        [
          {
            "node": "Search Youtube",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Songs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "663f3df9-9577-4f90-b4e5-e290ebe78460",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "50aab717918a34969800823eed90b56e9f97bc122c658eb9f5c4d873065d8050"
  },
  "id": "rqsTSi8eh0c9QB3vQ_GuQ",
  "tags": []
}